.tabeditor-root {
    height: 44vh;
    padding-top: 10px;
    margin-top: 3vh;
}

.tabeditor-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 96%;
}

.tabeditor-body {
    margin-top: 1.5vh;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.tabs-beats-timeline {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 0px;
    height: 94%;
}

.tabs-timeline {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 0px;
    border-top: 1px solid #5C7080;
    height: 8%;
}


.beats-start {
    border-right: 1px solid #CED9E0;
    text-align: right;
}

.bp3-dark .beats-start {
    border-right: 1px solid #5C7080;
    text-align: right;
}

.beats-other {
    border-right: 1px solid #CED9E0;
    height: 15px;
}

.bp3-dark .beats-other {
    border-right: 1px solid #5C7080;
    text-align: right;
}


.beats-num-span-0 {
    margin-left: 55px !important;
}

.beats-num-span {
    font-family: Inconsolata, monospace;
    text-align: right;
    color: #10161A;
    font-size: 12px;
    position: relative;
    top: 14px;
    margin-left: 26px;
}

.bp3-dark .beats-num-span {
    font-family: Inconsolata, monospace;
    text-align: right;
    color: #fff;
    font-size: 12px;
    position: relative;
    top: 14px;
    margin-left: 26px;
}

.time-notch {
    border-left: 1px solid #c0c0c0;
    height: 20px;
}

.time-notch-half {
    height: 10px !important;
    border-left: 1px solid #5C7080;
}

.time-num-span {
    font-family: Inconsolata, monospace;
    text-align: right;
    color: #10161A;
    font-size: 12px;
    margin-left: 4px;
    position: relative;
    top: 5px;
}

.bp3-dark .time-num-span {
    font-family: Inconsolata, monospace;
    text-align: right;
    color: #fff;
    font-size: 12px;
    margin-left: 4px;
    position: relative;
    top: 5px;
}

.tab-img {
    height: 46%;
    width: 100%;
    margin-top: 121px;
}

.strings-first {
    border-top: 1px solid gray;
}

.strings {
    height: 20%;
    border-bottom: 1px solid gray;
}

.neck {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
}

.neck-container {
    height: 80%;
    padding: 0;
    padding-top: 15px;
}

.tab-note-edit {
    position: absolute;
    height: 100%;
    margin-top: 36px;
}

.tab-wv-img {
    position: absolute;
    height: 100%;
}

.tab-overflow-root {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    will-change: scroll-position;
}

.tab-progress {
    border-right: 1px solid white;
    position: absolute;
    height: 76.4%;
    width: 0%;
    transform: translateX(0px);
    will-change: transform;
}