.tabeditor-root {
    height: 30vh;
    padding-top: 10px;
    margin-top: 3vh;
}

.tabeditor-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 96%;
}

.tabeditor-body {
    margin-top: 1.5vh;
}