@import "~@blueprintjs/core/lib/scss/variables";

.tabeditor-root {
    height: 320px;
    /* padding-top: 10px; */
    /* margin-top: 3vh; */
    margin-left: 20px;
    width: 97%;
}

.tabeditor-panel {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
}

.tabeditor-body {
    margin-top: 1.5vh;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.tabs-beats-timeline {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 0px;
    height: 29px;
}

.tabs-timeline {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 0px;
    border-top: 1px solid #5C7080;
    height: 8%;
    position: absolute;
    bottom: -2px;
}

.beats-start {
    border-right: 1px solid #CED9E0;
    text-align: left;
}

.bp3-dark .beats-start {
    border-right: 1px solid #5C7080;
    text-align: left;
}

.beats-other {
    border-right: 1px solid #CED9E0;
    height: 15px;
}

.bp3-dark .beats-other {
    border-right: 1px solid #5C7080;
    text-align: left;
}

.beats-num-span {
    color: #10161A;
    font-family: Inconsolata, monospace;
    text-align: left;
    font-size: 15px;
    position: relative;
    top: 14px;
    width: 100%;
    margin-left: 130%;
}

.bp3-dark .beats-num-span {
    font-family: Inconsolata, monospace;
    text-align: left;
    color: #fff;
    font-size: 15px;
    position: relative;
    top: 14px;
    width: 100%;
    margin-left: 130%;
}

.time-notch {
    border-left: 1px solid #c0c0c0;
    height: 20px;
}

.time-notch-half {
    height: 10px !important;
    border-left: 1px solid #5C7080;
}

.time-num-span {
    font-family: Inconsolata, monospace;
    text-align: right;
    color: #10161A;
    font-size: 15px;
    margin-left: 4px;
    position: relative;
}

.bp3-dark .time-num-span {
    font-family: Inconsolata, monospace;
    text-align: right;
    color: #fff;
    font-size: 15px;
    margin-left: 4px;
    position: relative;
}

.tab-img {
    height: 46%;
    width: 100%;
    position: absolute;
    top: 30%;
    opacity: 0.5;
}

.strings-first {
    border-top: 1px solid gray;
    height: 100%;
}

.bp3-dark .neck {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    justify-content: space-between;
    cursor: pointer !important;
}

.neck {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    cursor: pointer !important;
    background-color: rgba(206, 217, 224, .4);
}

.hover-note {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0 !important;
    position: absolute;
    visibility: hidden;
    background-color: rgb(244, 67, 71);
    pointer-events: none;
    border-radius: 8px !important;
    transition: 0 !important;
    filter: brightness(0.5);
}

.neck-container {
    height: 100%;
}

.tab-note-edit {
    position: absolute;
    height: 80%;
    margin-top: 36px;
    z-index: 3 !important;
}

.tab-wv-img {
    position: absolute;
    height: 100%;
}

.tab-overflow-root {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    will-change: scroll-position;
}

.tab-progress {
    border-right: 1px solid #10161A;
    position: absolute;
    height: 100%;
    width: 0%;
    transform: translateX(0px);
    will-change: transform;
    z-index: 50;
}

.bp3-dark .tab-progress {
    border-right: 1px solid white;
    position: absolute;
    height: 100%;
    width: 0%;
    transform: translateX(0px);
    will-change: transform;
    z-index: 50;
}

.tab-insertHead {
    border-right: 1px solid $pt-intent-primary;
    position: absolute;
    height: 118%;
    width: 0%;
    transform: translateX(100px);
    will-change: transform;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: -35px;
    margin-left: -1px;
}

.bp3-dark .tab-insertHead {
    border-right: 1px solid $pt-intent-primary;
    position: absolute;
    height: 118%;
    width: 0%;
    transform: translateX(100px);
    will-change: transform;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: -35px;
    margin-left: -1px;
}

.tab-insertHeadSlider {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    border: 1px solid $pt-intent-primary;
    background-color: rgba($pt-intent-primary, 0.880) !important;
    border-radius: 5px;
    padding: 0px !important;
    position: relative;
    top: 18px;
}

.tab-insertHeadSlider:hover,
.tab-insertHeadSlider:active {
    background-color: $pt-intent-primary !important;
}

.strings-hitbox {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    border-left: 2px solid #455e77;
    border-right: 2px solid #455e77;
}

.strings-extra {
    height: 20%;
}

.strings-hitbox-first {
    border-left: none;
    border-right: none;
}

.strings {
    height: 1px;
    box-shadow: inset 0 0 0px;
    background-color: #69696980;
    width: 100%;
}

.bp3-dark .strings {
    height: 1px;
    box-shadow: inset 0 0 0px;
    background-color: #a7b6c280;
    width: 100%;
}

.notes-container {
    position: absolute;
}

.note {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: rgb(244, 67, 71);
    border-radius: 8px !important;
    margin: 0;
    padding: 0 !important;
    padding-top: 1px !important;
    font-size: 18px;
    color: #000000df;
    z-index: 10;
    cursor: pointer;
    font-weight: bold;
}

.bp3-dark .note {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: rgb(244, 67, 71);
    border-radius: 8px !important;
    margin: 0;
    padding: 0 !important;
    padding-top: 1px !important;
    font-size: 18px;
    color: #ffffffdf;
    z-index: 10;
    font-weight: bold;
}

.note-selected {
    //border: 1px solid $pt-app-background-color;
    //padding: 1px !important;
    background: rgba($pt-intent-primary, 1) !important;
}

.bp3-dark .note-selected {
    //border: 1px solid $pt-text-color;
    //padding: 1px !important;
    background: rgba($pt-intent-primary, 1) !important;
}

.tag-input {
    min-width: 20%;
    max-width: 50%;
}

.tag-select-popover {
    display: flex;
}

.selection {
    background: rgba($pt-intent-primary, 0.75);
    border-radius: 0.1em;
    border: 0.05em solid rgba(0, 0, 255, 0.2);
    z-index: 50;
    position: absolute;
}

.tab-button-group {
    position: absolute;
    right: 2vw;
    display: flex;
    justify-content: flex-end;
}

.tab-button-divider {
    margin-top: 2px !important;
}

.tuning-name {
    position: absolute;
    left: 18px;
    top: 52px;
    font-size: 20px;
}