.minimap-root {
    height: 53px;
    margin-top: 15px;
    width: 97%;
    margin-left: 15px;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}