.waveform-root {
    height: 316px;
    margin-top: 15px;
    width: 97%;
    margin-left: 20px;
}

#timeline {
    border-top: 1px solid gray;
    will-change: scroll-position;
}

#waveform {
    will-change: scroll-position;
}

#beatstimeline {
    will-change: scroll-position;
}

#chordstimeline {
    will-change: scroll-position;
}

.canvas-container {
    height: 100%;
    will-change: scroll-position;
}

.description-buttons {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.canvas-container>div:nth-child(1) {
    height: 7%;
}

.canvas-container>div:nth-child(2) {
    height: 10%;
}

.canvas-container>div:nth-child(3) {
    height: 78%;
}

.canvas-container>div:nth-child(4) {
    height: 10%;
}

.appLogo-waveform {
    width: 10vh;
    height: 10vh;
}

.waveform-height {
    height: 95% !important;
}

.zoomer {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.zoom-item {
    margin-right: 0.75vw;
}

.zoom-item-button {
    margin-top: -3px;
}

.version {
    font-size: 16px;
}

.canvas-container {
    position: relative;
}