.waveform-root {
    height: 23vh;
    width: 100%;
    position: absolute;
    width: 96%;
    padding-top: 10px;
}

#timeline {
    border-top: 1px solid gray;
}

#waveform {}

.canvas-container {
    height: 100%;
}

.description-buttons {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.canvas-container>div:nth-child(1) {
    height: 10%;
}

.canvas-container>div:nth-child(2) {
    height: 10%;
}

.canvas-container>div:nth-child(3) {
    height: 75%;
}

.canvas-container>div:nth-child(4) {
    height: 10%;
}

.appLogo-waveform {
    width: 10vh;
    height: 10vh;
}

.waveform-height {
    height: 95% !important;
}

.zoomer {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.zoom-item {
    margin-right: 0.75vw;
}

.zoom-item-button {
    margin-top: -3px;
}