.waveform-root {
    height: 23vh;
    width: 100%;
    position: absolute;
    width: 96%;
}

#timeline {
    border-top: 1px solid gray;
    height: 10%;
}

#waveform {
    height: 92%;
}

.canvas-container {
    height: 100%;
    ;
}

.description-buttons {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.waveform-root>div:first-child>div:first-child {
    height: 50%;
}

.appLogo-waveform {
    width: 10vh;
    height: 10vh;
}

.waveform-height {
    height: 95% !important;
}

.zoomer {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}

.zoom-item {
    margin-right: 0.75vw;
}

.zoom-item-button {
    margin-top: -3px;
}