.waveform-root {
    height: 23vh;
    width: 100%;
    position: absolute;
    width: 96%;
}

#timeline {
    border-top: 1px solid gray;
    margin-top: 15px;
}

.description-buttons {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.waveform-root>div:first-child>div:first-child {
    height: 50%;
}

.appLogo-waveform {
    width: 10vh;
    height: 10vh;
}