@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~@blueprintjs/core/lib/scss/variables";

.dark-toast {
    font-family: Magra, sans-serif;
}

html,
body,
#app-root {
    font-family: Magra, sans-serif;
    user-select: none;
    overflow: hidden;
    height: 100%;
    -webkit-app-region: drag;
}

button,
canvas,
input,
.media-bar-sticky {
    -webkit-app-region: no-drag;
}

#app-flex>#a {
    order: 1;
}

#app-flex>#b {
    order: 2;
}

#app-flex>#c {
    order: 3;
}

#app-flex>#d {
    order: 4;
}

#app-flex>#e {
    order: 5;
}

#app-flex>#f {
    order: 6;
}

#app-flex {
    overflow: auto;
    height: 91vh;
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    margin-top: 2px;
    display: flex;
    /* Optional, if you want the DIVs 100% width: */
    flex-direction: column;
}

.app-body {
    background-color: $pt-app-background-color;

    &.bp3-dark {
        background-color: $pt-dark-app-background-color;
    }
}


.bp3-text-larger {
    $pt-font-size-larger: $pt-grid-size * 2.2;
    font-size: $pt-font-size-larger;
}

.bp3-text-larger-2 {
    $pt-font-size-larger: $pt-grid-size * 3.2;
    font-size: $pt-font-size-larger;
}

.number {
    font-family: Inconsolata, monospace;

}

.tall-divider {
    height: 4.5vh;
}

.font-weight-unset {
    font-weight: 100 !important;
}

.fadeout {
    transition: 1.5s;
    opacity: 0;
}

#content {
    display: flex;
    margin-top: 6.5vh;
    margin-left: 3vh;
    margin-right: 3vh;
}

.card-extended {
    border-radius: 8px;
}

.fps-meter {
    position: absolute;
    right: 3.5vh;
    top: 3vh;
    z-index: 9999;
    width: 10vh;
    text-align: center;
    height: 2.5vh;
    overflow: hidden;
    padding: 0;
    padding-top: 0.5vh;
}

.memory-meter {
    position: absolute;
    right: 14.5vh;
    top: 3vh;
    z-index: 9999;
    width: 10vh;
    text-align: center;
    height: 2.5vh;
    overflow: hidden;
    padding: 0;
    padding-top: 0.5vh;
}

.info-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 3vh;
    top: 3vh;
}

.info-item {
    text-align: center;
    height: 2.5vh;
    padding-top: 0.5vh;
    margin-right: 1vh;
}

.info-item-large {}

.dialog-header {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

.dialog-body {
    padding-top: 2vh;
}