@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~@blueprintjs/core/lib/scss/variables";

.dark-toast {
    font-family: Magra, sans-serif;
}

html,
body,
#app-root {
    font-family: Magra, sans-serif;
    user-select: none;
    overflow: hidden;
    height: 100%;
    -webkit-app-region: drag;
}

button,
canvas,
input,
.info-panel,
.mixer,
.eq-edit,
.spec-root,
.media-bar-sticky,
.tabeditor-panel,
.tabeditor-body {
    -webkit-app-region: no-drag;
}

#app-flex>#a {
    order: 1;
}

#app-flex>#b {
    order: 2;
}

#app-flex>#c {
    order: 3;
}

#app-flex>#d {
    order: 4;
}

#app-flex>#e {
    order: 5;
}

#app-flex>#f {
    order: 6;
}

#app-flex {
    overflow: auto;
    height: 91vh;
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    margin-top: 2px;
    display: flex;
    /* Optional, if you want the DIVs 100% width: */
    flex-direction: column;
}

.app-body {
    background-color: $pt-app-background-color;

    &.bp3-dark {
        background-color: $pt-dark-app-background-color;
    }
}


.bp3-text-larger {
    $pt-font-size-larger: $pt-grid-size * 2.2;
    font-size: $pt-font-size-larger;
}

.bp3-text-larger-2 {
    $pt-font-size-larger: $pt-grid-size * 3.2;
    font-size: $pt-font-size-larger;
}

.number {
    font-family: Inconsolata, monospace;
}

.tall-divider {
    height: 4.5vh;
}

.font-weight-unset {
    font-weight: 100 !important;
}

.fadeout {
    transition: 1.5s;
    opacity: 0;
}

#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.card-extended {
    border-radius: 8px;
}

.fps-meter {
    //position: absolute;
    //right: 3.5vh;
    //top: 3vh;
    z-index: 9999;
    //width: 10vh;
    text-align: center;
    height: 2.5vh;
    overflow: hidden;
    //padding: 0;
    padding-top: 0.5vh;
    width: 8vh
}

.memory-meter {
    //position: absolute;
    //right: 14.5vh;
    //top: 3vh;
    z-index: 9999;
    //width: 10vh;
    text-align: center;
    height: 2.5vh;
    overflow: hidden;
    //padding: 0;
    padding-top: 0.5vh;
    width: 12vh;
}

.latency-meter {
    //position: absolute;
    //right: 14.5vh;
    //top: 3vh;
    z-index: 9999;
    //width: 10vh;
    text-align: center;
    height: 2.5vh;
    overflow: hidden;
    //padding: 0;
    padding-top: 0.5vh;
    width: 7vh;
}

.info-panel {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 96%;
    position: absolute;
    left: 3vh;
    top: 3vh;
    height: 3vh;
}

.info-item {
    text-align: center;
    height: 2.5vh;
    padding-top: 0.4vh;
    margin-right: 1vh;
}

.info-item-no-space {
    text-align: center;
    height: 2.1vh;
    padding-top: 1px;
}

.info-item-control {
    margin-right: 1vh;
}

.info-item-large {
    height: 3vh;
}

.dialog-header {
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

.dialog-body {
    padding-top: 1vh;
}

.no-pad {
    margin: 0px;
    padding: 0px;
}

pre {
    font-family: Inconsolata, monospace;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
}

.tooltip {
    width: 30vh;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.side-app {
    margin-top: 1vw;
}

.d-flex {
    display: flex;
    width: 100%;
}

.error-callout {
    display: block;
    z-index: 10;
    border-radius: 7px;
    overflow: auto;
}

.error-pre {
    background-color: rgba(16, 22, 26, 0.95) !important;
    margin-right: 20px;
}

.error-button-detail {
    position: absolute;
    right: 35px;
    top: 5px;
    border: 1px solid rgba(16, 22, 26, 0.5);
}

.error-button-report {
    position: absolute;
    right: 105px;
    top: 5px;
    border: 1px solid rgba(16, 22, 26, 0.5);
}

.width-100 {
    width: 100%;
    ;
}

.no-pad-2 {
    padding: 0px;
}

.history-list {
    margin-bottom: 7px;
}

.commit-list {
    max-height: 300px;
    overflow: auto;
    padding: 5px;
}