@import '~@fortawesome/fontawesome-free/css/all.css';
/*@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";*/

.App {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    user-select: none;
    overflow: hidden;
    height: 100%;
}

.background {
    color: white;
}

#flex {
    display: flex;
    /* Optional, if you want the DIVs 100% width: */
    flex-direction: column;
}

#flex>#a {
    order: 1;
}

#flex>#b {
    order: 2;
}

#flex>#c {
    order: 3;
}

.ta-center {
    text-align: center;
}