@import '~@fortawesome/fontawesome-free/css/all.css';
/*@import "~react-bootstrap-table-next/dist/react-bootstrap-table2.min.css";*/

.App,
.dark-toast {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    user-select: none;
    overflow: hidden;
    height: 100%;
    -webkit-app-region: drag;
}

button,
canvas,
input {
    -webkit-app-region: no-drag;
}

.background {
    color: white;
}

#app-flex {
    display: flex;
    /* Optional, if you want the DIVs 100% width: */
    flex-direction: column;
}

#app-flex>#a {
    order: 1;
}

#app-flex>#b {
    order: 2;
}

#app-flex>#c {
    order: 3;
}

#app-flex>#d {
    order: 4;
}

#app-flex>#e {
    order: 5;
}

#app-flex>#f {
    order: 6;
}

.ta-center {
    text-align: center;
}

#app-flex {
    overflow: auto;
    height: 91vh;
    margin-top: 1.5vh;
    padding-top: 1.5vh;
    margin-top: 2px;
}

a {
    color: #fff;
    transition: color 0.2s ease;
}

a:hover {
    color: #04ABED;
    text-decoration: none;
}

.dark-toast {
    font-size: 20px;
}

.cur-pointer {
    cursor: pointer;
}

/* default popover styles */
.popover-header {
    background-color: #929292 !important;
}

.popover-body {
    background: #fff !important;
    color: black !important;
}

.arrow::after {
    border-bottom-color: #fff !important;
}

.dot-separator {
    color: #04ABED;
}

.mt-14 {
    margin-top: 14px;
}