.controller_bar {
    width: 100%;
    box-shadow: 0px 2px 1px lightgrey;
}

.vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 60px;
    width: 1px;
}

.cover_img {
    width: 70px;
    height: 70px;
    background-size: contain;
    margin: 6px;
    border: 1px solid gray;
    box-shadow: 1px 1px 0px dimgrey;
}

.navbar {
    padding: 0 1rem;
}

.artist_span {
    font-size: 14px;
}

.song_span {
    font-size: 20px;
}

.timer_div {
    position: fixed;
    right: 25px;
    width: 400px;
    text-align: center;
}

.current_time_span {
    font-size: 38px;
}

.total_time_span {
    font-size: 20px;
    position: fixed;
    right: 25px;
    top: 30px;
}

.fas {
    font-size: 22px;
}

.btn-secondary {
    box-shadow: 0px 1px 0px dimgray;
}

.btn-text {}

.icon-center {
    position: relative;
    top: 2px;
}

span {
    color: #3498db !important;
}

.spinner {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
}

.spinner-grow-noanim {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 1;
}