.controller_bar {
    width: 100%;
    box-shadow: 0px 2px 1px lightgrey;
    padding-top: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 22px 70px 4px rgba(93, 93, 93, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(125, 125, 125, 1);
}

.vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 60px;
    width: 1px;
}

.cover_img {
    width: 70px;
    height: 70px;
    background-size: contain;
    margin: 6px;
    border: 1px solid gray;
    box-shadow: 1px 1px 0px dimgrey;
}

.navbar {
    padding: 0 1rem !important;
}

.artist_span {
    font-size: 14px;
}

.song_span {
    font-size: 20px;
}

.timer_div {
    position: absolute;
    right: 25px;
    width: 350px;
    text-align: center;
}

.current_time_span {
    font-size: 38px;
}

.total_time_span {
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 27px;
}

.fas {
    font-size: 22px;
}

.btn-secondary {
    box-shadow: 0px 1px 0px dimgray;
}

.btn-text {}

.icon-center {
    position: relative;
    top: 2px;
}

.spinner {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 20px;
}

.spinner-grow {
    width: 1rem !important;
    height: 1rem !important;
}

.spinner-grow-noanim {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 1;
}

.info-table {
    width: 246px;
}

.info-table2 {
    width: 293px;
}

.table2 tr td:nth-child(1) {
    width: 20%;
    font-weight: bolder;
    color: #929292;
}

.table2 tr td:nth-child(2) {
    width: 80%;
    text-align: right;
}

.table2 {
    width: 100%;
    font-size: 13px;
}

.table-extra-info {
    max-width: 241px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}