.sidebar {
    height: calc(100% - 107px);
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 24px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.app-logo {
    width: 50px;
    height: 50px;
}

.app-name {
    font-size: 16px;
}

.sidebar-sticky {
    height: 100%;
    width: 300px;
}

.sidebar-main {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-title {
    padding: 5px;
    border-radius: 8px;
}

.tooltip-target {
    width: 100%;
}

.appLogo-sidebar {
    width: 75px;
    height: 75px;
}

.sidebar-divider {
    background-image: linear-gradient(90deg, #10161a00 0, #10161a66 40%);
    margin-left: -50px;
    height: 1px;
    padding: 0;
}

.sidebar-card {
    margin-top: 10px;
    border-radius: 8px;
}

.sidebar-audio-track {
    padding: 0 !important;
}

.sidebar-score-track {
    padding: 0 !important;
    /* height: 65%; */
    //margin-top: 15px;
    overflow-y: scroll;
}

.sidebar-score-item {
    padding: 0 !important;
    height: 25%;
}

.score-logo {
    width: 20px;
    height: 20px;
}

.card-header {
    font-size: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #137CBDcc !important;
    color: white !important;
}

.card-header>span {
    color: white !important;
}

.app-title {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 54%;
}

.app-info {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#fps,
#memory,
#latency {
    float: right;
}

.audio-track-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.key-tempo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.key-tempo>* {
    padding-top: 10px;
    padding-bottom: 10px;
}

.region-select {
    width: 80%;
}

.region-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.region-text {
    margin-bottom: 5px;
}

#key {
    font-size: 18px;
}

#tempo {
    font-size: 18px;
    margin-left: 20px;
}

.score-collapsed {
    height: 7.25% !important;
}

.score-item-collection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.score-item-icon {
    position: absolute;
    right: 10px;
    margin-top: -5px;
}

.track-card {
    font-size: 16px;
    border-radius: 0px;
}

.track-callout {
    border-radius: 0px;
}

.score-item-elements {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.score-left-text {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score-item-gap {
    margin-top: 10px;
}

.score-right-toggle {
    margin-bottom: 0px;
    padding-top: 5px;
}

.score-right-numeric-input {
    justify-content: flex-end;
}

.score-right-numeric-input>:nth-child(1) {
    width: 25%;
}

.key-tempo-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.key-tempo-header>div {
    width: 100%;
    margin-bottom: 10px;
}

.key-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.key-box-header {
    //font-size: 10px;
    //margin-top: -5px;
}

.bpm-box-content {
    font-size: 15px;
}

.key-box-content {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 17px;
}


.tags {
    width: 100% !important;
    margin-top: 10px;
}