altgraph==0.16.1
audioread==2.1.8
autopep8==1.4.4
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
construct==2.9.45
cycler==0.10.0
Cython==0.29.14
decorator==4.4.1
docopt==0.6.2
future==0.18.2
idna==2.7
joblib==0.14.0
kiwisolver==1.1.0
librosa==0.7.1
llvmlite==0.30.0
macholib==1.11
madmom==0.16.1
matplotlib==3.1.1
mido==1.2.9
Naked==0.1.31
numba==0.46.0
numpy==1.17.4
pefile==2019.4.18
pipreqs==0.4.10
pycairo==1.18.2
pycodestyle==2.5.0
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.3
pydantic==1.1
PyInstaller==3.5
pyparsing==2.4.5
python-dateutil==2.8.1
PyYAML==5.1.2
requests==2.22.0
resampy==0.2.2
rocksmith==0.1
rsrtools==0.3.5
scikit-learn==0.21.3
scipy==1.3.2
shellescape==3.4.1
simplejson==3.16.0
six==1.13.0
SoundFile==0.10.2
toml==0.10.0
urllib3==1.25.7
virtualenv==16.7.7
yarg==0.1.9
