.home-main {
    width: 65%;
    margin: auto;
    margin-top: 7px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 85%;
}

.home-heading-left {
    display: flex;
    flex-direction: column;
    width: 20% !important;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.25 !important;
    padding: 0 !important;
}

.home-heading-right {
    width: 80%;
    height: 100%;
}

.home-info {}

.home-offline-options {
    width: 100%;
    margin: auto;
}

.offline-item-name {
    width: 80%;
}

.offline-item-action {
    width: 20%;
    text-align: right;
}

.offline-buttons {
    margin-top: .25vw;
}

.offline-icon {}

.offline-icon> :first-child {
    top: 20px !important;
}

.home-analysis-panel {
    height: 25%;
    padding: 0;
}

.home-key-font {
    font-size: 2vw;
}

.home-analysis-buttons {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1vw;
    margin-right: 1vw;
}