@import "~@blueprintjs/core/lib/scss/variables";
@import '../../variables.scss';

.mi-drawer {
    z-index: 98 !important;
}

.mi-header {
    font-weight: 100;
}

.mi-header-group {
    width: 20%;
}

.mi-heading {
    width: 100%;
    display: flex;
    justify-content: left;
    font-size: 20px !important;
}

.mi-header-icon {
    width: 1.5vw;
    margin-top: 2px;
}

.mixer-root {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
}

.mixer {
    width: 100%;
    height: 100%;
}

.mixer-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    width: 47%;
    margin: auto;
    height: 100%;
}

.mixer-right {
    width: 50%;
    height: 86%;
    margin: auto;
    margin-right: 0;
}

.mixer-panel {
    margin-bottom: 1vw;
    padding: 0 !important;
}

.mixer-info {
    display: flex;
    width: 100%;
    height: 100%;
}

.mixer-info-details {
    width: 80%;
}

.mixer-info-key {
    display: flex;
    flex-direction: column;
    width: 20% !important;
    justify-content: center;
    align-items: center;
    line-height: 1.25 !important;
    padding: 0 !important;
}

.mixer-key-font {
    font-size: 3vw;
}

.mixer-tonality-font {
    font-size: 1.25vw;
    text-transform: lowercase;
}

.mixer-bpm {
    font-family: $font-family-monospace, monospace;
}

.mixer-chords-container {
    width: 80%;
    height: 100%;
}

.mixer-chords {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-left: 0.5vw;
}

.mixer-chords * {
    margin-right: 0.3vw;
}

.mi-drawer-bottom {
    bottom: 9vh !important;
}

.key-panel {
    height: 40%;
    padding: 0 !important;
}

.tempo-panel {
    height: 32%;
}

.mixer-chords-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-left: 0 !important;
}

.mixer-key-slider {
    width: 55%;
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.mixer-key-switch {
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: 0;
}

.mixer-key-tag {
    width: 20%;
    text-align: center;
}

.mixer-tempo-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding-left: 0 !important;
}

.mixer-tempo-tag {
    width: 24%;
    text-align: center;
}

.mixer-tempo-slider {
    width: 70%;
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}

.mixer-tempo-list * {
    margin-right: 1vw;
}

.mixer-tempo-list {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-bottom: 5px;
}

.mixer-chord-list {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-bottom: 5px;
}

.mixer-chord-list * {
    margin-right: 1vw;
}


.mixer-bpm-font {
    font-size: 1.25vw;
    text-transform: lowercase;
}

.mixer-tempo-tooltip {
    margin: 0;
}

.eq-card {
    width: 40%;
    padding: 0 !important;
}

.mixer-eq-container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.mixer-eq {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.mixer-eq-list {
    display: flex;
    flex-direction: column;
    width: 25% !important;
    height: 100% !important;
    justify-content: center;
    align-items: center;
    line-height: 1.25 !important;
    padding: 0 !important;
}

.mixer-eq-tags {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.eq-tag {
    flex: 1 0 17%;
    margin: 5px;
}

.eq-tag-no-grow {
    flex: 0 0 20%;
}

.eq-tag-small {
    margin-top: 10px;
}

.mixer-eq-top {
    display: flex;
    flex-direction: row;
    height: 30%;
}

.eq-panel {
    height: 96%;
}

#container canvas {
    width: 100%;
    height: 100%;
}

.eq-form {
    display: flex;
    justify-content: space-between;
    //align-items: center !important;
}

.eq-form-button>div {
    display: flex;
    align-items: center !important;
    width: 100%;
    justify-content: space-evenly;
}

.eq-checked-warning>span {
    background-color: $pt-intent-warning !important;
}

.eq-slider-row {
    position: relative;
    /* width: 45%; */
    /* height: 52%; */
    top: 12%;
}

.slider-label-no-margin {
    margin: 0 !important;
}

.mixer-slider {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-left: 0.5vw;
}

.eq-toggle-spectrum {
    text-align: right;
    position: absolute;
    right: .5vw;
    //top: .25vw;
    bottom: 0;
}

.eq-slider-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    width: 104%;
    height: 95%;
    padding: 0;
    align-items: center;
}

.hznum {
    margin-top: 1vh;
    margin-left: -9px;
    text-align: center;
}

.popout {
    margin-top: -2px;
}

.eq-root {
    width: 100%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.eq-first-pane {
    padding: 0 !important;
    width: 50%;
}

.analysis-panel {
    height: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 45%;
}