@import '../../variables.scss';

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.output {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.output-button {
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px !important;
}

.stems-callout {
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.stems-panel-2 {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 222px;
    padding-top: 15px;
    padding-left: 30px !important;
}

.stems-panel-3 {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.output-logs {
    height: 250px;
    margin: 0 !important;
    overflow: auto;
}

.stem-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 70%;
}

.buttons>button {
    margin-right: 10px;
}

.spinner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.powered {
    width: 30%;
    height: 64%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.stems-header {
    width: 60%;
    font-size: 20px;
    font-family: $font-family-default;
    display: flex;
    flex-direction: column;
}

.stems-tag {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stem-tracks {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    overflow: auto;
}

.stem-track {
    width: 100%;
    height: 110px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.stems-h-switch {
    font-size: 14px;
}

.stem-img {
    width: 100%;
    height: 60%;
}

.stem-img-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    height: 100%;
    width: 223px;
    padding-left: 10px;
    padding-right: 10px;
}

.controls-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.stem-na {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 12px;
}